// .loading-container{
//     position: fixed;
//     background: rgba(0, 0, 0, 0.5);
//     z-index: 1;
//     left:0;
//     top:0;
//     right:0;
//     bottom: 0;
//     padding-top: 10%;
//     padding-left: 45%;
// }
// .loader-container{
//     color: white;
//     position: relative;
// }
// .loader{
//     width: 60px;
//     height: 60px;
//     border: 4px dotted;
//     border-radius: 50%;
//     border-bottom: 4px solid transparent;
//     animation: rotate .5s linear infinite;
// }
// @keyframes rotate{
//     0%{
//         transform: rotate(0deg)
//     }
//     100% {
//         transform: rotate(360deg)
//     }
// }

.loading{
    top:0;
    left:0;
    position: fixed;
    width: 100%;
    height: 3px;
    background: rgba(0, 158, 0, 0.5);
    z-index: 1;
}

.loading:before{
    content: ' ';
    width: 50%;
    height: 3px;
    background: rgb(0, 158, 0);
    position: absolute;
    animation: loading 0.5s linear infinite;
}

@keyframes loading{
    0%{
        transform: translateX(-5%)
    }
    100%{
        transform: translateX(calc(100% + 200px));
    }
}
